In [46]:
import pandas as pd

In [61]:
with open(r'C:\Users\imran\DataspellProjects\WalidCase\data\raw\kaggle_crunchbase_dataset.csv', 'r', encoding='utf-8', errors='ignore') as f:
    crunchbase = pd.read_csv(f)
crunchbase.rename(columns={' market ': 'market'}, inplace=True)


industries = pd.read_csv(r'C:\Users\imran\DataspellProjects\WalidCase\data\processed\GPT4_generated_keywords.csv')

tagged_startups = pd.read_csv(r'C:\Users\imran\DataspellProjects\WalidCase\data\tagged\tagged_with_sentence_transformer.csv')
tagged_startups.rename(columns={'industry1': 'industry1_v1'}, inplace=True)

updated_kws = pd.read_csv(r'C:\Users\imran\DataspellProjects\WalidCase\data\tagged/full_dataset_updated_kws_v1.csv')
updated_kws.rename(columns={'industry1': 'industry1_v2'}, inplace=True)
updated_kws.rename(columns={'industry2': 'industry2_v2'}, inplace=True)
updated_kws.rename(columns={'industry3': 'industry3_v2'}, inplace=True)

short_desc = pd.read_csv(r'C:\Users\imran\DataspellProjects\WalidCase\data\crunchbase_vs_predictions/short_desc_minilml6v2_100rows.csv')
short_desc.rename(columns={'industry1': 'industry1_v3'}, inplace=True)
short_desc.rename(columns={'industry2': 'industry2_v3'}, inplace=True)
short_desc.rename(columns={'industry3': 'industry3_v3'}, inplace=True)

#full_model_kw = pd.read_csv(r'C:\Users\imran\DataspellProjects\WalidCase\data\processed\full_model_kw.csv')

In [62]:
#tagged_startups = tagged_startups[['name', 'industry1', 'industry2', 'industry3']].copy()
#tagged_startups = tagged_startups[['name', 'industry1_v1']].copy()
crunchbase = crunchbase[['name', 'market']].copy()
updated_kws = updated_kws[['name', 'industry1_v2', 'industry2_v2', 'industry3_v2']].copy()
short_desc = short_desc[['name', 'industry1_v3', 'industry2_v3', 'industry3_v3']].copy()

In [63]:
present_in_updated_kws = crunchbase[crunchbase['name'].isin(updated_kws['name'])]
present_in_updated_kws = present_in_updated_kws.merge(updated_kws, on='name', how='left')
present_in_updated_kws.drop_duplicates(subset=['name'], inplace=True)
present_in_updated_kws.dropna(subset=['industry1_v2'], inplace=True)
present_in_updated_kws

,name,market,industry1_v3,industry2_v3,industry3_v3,industry1_v2,industry2_v2,industry3_v2
0,1stdibs,E-Commerce,NaN,NaN,NaN,E-commerce,Fashion,Sales & CRM
1,24Symbols,Software,NaN,NaN,NaN,Mobile,EdTech,Telecoms
2,365Scores,Sports,NaN,NaN,NaN,Esports,Entertainment,Communications
3,7digital,Music,NaN,NaN,NaN,Media,Telecoms,Data Infrastructure
4,Abcodia,Biotechnology,NaN,NaN,NaN,Genomics,Life Sciences,RegTech
...,...,...,...,...,...,...,...,...
438,Revolut,Customer Service,NaN,NaN,NaN,Payments,DeFi,FinTech
439,Rhytec,NaN,NaN,NaN,NaN,Beauty,Circular Economy,DeFi
440,RightScale,Cloud Computing,NaN,NaN,NaN,Cloud Computing,Cloud Ops,Sales & CRM
441,Riskclick,Software,NaN,NaN,NaN,Sales & CRM,InsurTech,LegalTech
442,Robinhood,Personal Finance,NaN,NaN,NaN,InsurTech,Crypto,DeFi

In [64]:
short_desc_merged = crunchbase[crunchbase['name'].isin(short_desc['name'])]
short_desc_merged = short_desc_merged.merge(short_desc, on='name', how='left')
short_desc_merged.drop_duplicates(subset=['name'], inplace=True)
short_desc_merged

,name,market,industry1_v3,industry2_v3,industry3_v3
0,21GRAMS,Software,Physical Storage,Sales & CRM,Transportation
1,42Networks,Web Hosting,Retail,AdTech,Network Infrastructure
2,46elks,Mobile,Communications,IoT,Health Tech
3,4Tech,Biotechnology,Materials,3D Printing,Manufacturing
4,Gemfire,NaN,3D Printing,Network Infrastructure,Semiconductors
5,GodTube,Religion,Social Networks,Future of Work,Creator Economy
6,Intellikine,Biotechnology,Gut Microbiome,Psychedelics,Life Sciences
7,InterResolve,NaN,InsurTech,LegalTech,Automotive
8,IOCOM,Software,Communications,Design,Productivity
9,Iterable,Marketing Automation,Creator Economy,MarTech,Sharing Economy
10,Joost,Television,Network Infrastructure,Creator Economy,Telecoms
11,Kabbage,Finance,FinTech,DeFi,Economic Empowerment
12,NPS,Clean Technology,Materials,Longevity,Climate & Clean Tech
13,P2i,Nanotechnology,Materials,Security,InfoSec

In [43]:
# keep the df without any na values

             name              market     industry industry_updated keywords
90        1stdibs         E-Commerce       fashion       E-commerce      NaN
124     24Symbols           Software        mobile           Mobile      NaN
188     365Scores             Sports       esports          Esports      NaN
385      7digital              Music     analytics            Media      NaN
542       Abcodia      Biotechnology     longevity         Genomics      NaN
...           ...                 ...          ...              ...      ...
35810     Revolut   Customer Service       fintech         Payments      NaN
35897      Rhytec                 NaN       beauty           Beauty      NaN
35946  RightScale    Cloud Computing   sales & crm  Cloud Computing      NaN
36018   Riskclick           Software     insurtech      Sales & CRM      NaN
36107   Robinhood   Personal Finance    blockchain        InsurTech      NaN

[443 rows x 5 columns]

In [59]:
present_in_updated_kws.to_csv(r'C:\Users\imran\DataspellProjects\WalidCase\data\crunchbase_vs_predictions/temp.csv', index=False)

### Lets extract 40 top words from each industry

In [66]:
from tagging import Embedding

In [68]:
#import test set split
from sklearn.model_selection import train_test_split


train_set, test_set = train_test_split(crunchbase, test_size=0.2, random_state=42)

train_set.market.value_counts()
test_set.market.value_counts()

 Software             891
 Biotechnology        759
 Mobile               386
 E-Commerce           365
 Curated Web          315
                     ...
 Staffing Firms         1
 Low Bid Auctions       1
 3D                     1
 Comics                 1
 Infrastructure         1
Name: market, Length: 561, dtype: int64